= part(:submenu, UserController)

%h2 Your CVs

.cvs
  - if @cvs.empty?
    You don't have any CVs yet, get started by uploading one in the form in the sidebar.
  - @cvs.each do |cv|
    .cv
      %dl
        %dt Title:
        %dd
          = cv.href(cv.title, :read)
        %dt Preview:
        %dd= cv.preview
        %dt Last Updated:
        %dd= cv.updated_formatted
      %form{:method => :POST, :action => cv.to(:edit)}
        = cv.form_field(:public)
        = part :buttons, MainController, :value => 'Change'
