= part(:submenu, UserController)

.submenu
  %a{:href => @user.to(:read)} View public profile

%h2= "Profile of #{h @user.public_name}"

.clear

%form{:method => :POST, :action => @user.to(:edit), :enctype => 'multipart/form-data'}
  %fieldset
    %legend Update Profile
    - if @user.avatar
      %img.avatar{:src => @user.avatar.file(:medium)}
    = @user.form_field(:name)
    = @user.form_field(:phone)
    = @user.form_field(:location)
    = @user.form_field(:avatar, :file)
    ~ @user.form_field(:about, :textarea)
    = part :buttons, MainController, :value => 'Update profile'

%form{:method => :POST, :action => @user.to(:update_password)}
  %fieldset
    %legend Change Password
    = @user.form_field(:password, :password)
    = @user.form_field(:password_confirmation, :password)
    = part :buttons, MainController, :value => 'Change Password'
