- if @user.avatar
  %img.avatar{:src => @user.avatar.file(:medium)}

= part(:submenu, UserController)

.submenu
  %a{:href => @user.to(:read)} View public profile

%h2= "Profile of #{h @user.public_name}"

.clear

%form{:method => :POST, :action => Rs(:update), :enctype => 'multipart/form-data'}
  %fieldset
    %legend Update Profile
    = @user.form_field(:name)
    = @user.form_field(:phone)
    = @user.form_field(:location)
    .pair
      %label{:for => :avatar} Avatar:
      %input{:type => :file, :name => :avatar, :id => :avatar}
      %br/
      May be png, jpeg, gif
    ~ @user.form_field(:about, :textarea)
    = part :buttons, MainController, :value => 'Update profile'

%form{:method => :POST, :action => R(UserController, :update_password)}
  %fieldset
    %legend Change Password
    = @user.form_field(:password, :password)
    = @user.form_field(:password_confirmation, :password)
    = part :buttons, MainController, :value => 'Change Password'
