.join
  %form{:method => :POST}
    %fieldset
      %legend Create Account
      = @user.form_field(:email)
      = @user.form_field(:password, :password)
      = @user.form_field(:password_confirmation, :password)
      = @user.form_field(:tos, :boolean)
      = @user.form_field(:newsletter)
      = part :buttons, MainController, :value => 'Create Account'
