.join
  .submenu
    %a.applicant{:href => Rs(:join, :role => 'applicant')} Create applicant account
    %a.recruiter{:href => Rs(:join, :role => 'recruiter')} Create recruiter account

  %div{:class => @user.role}
    %form{:method => :POST, :name => '/user/join'}
      %fieldset
        %legend= "Create #{@user.role} account"
        %input{:type => :hidden, :name => :role, :value => @user.role}
        = @user.form_field(:email)
        = @user.form_field(:password, :password)
        = @user.form_field(:password_confirmation, :password)
        = @user.form_field(:tos, :boolean)
        = @user.form_field(:newsletter)
        = JobGet::Main.render_partial(:buttons, :value => 'Create Account')
