= part(:submenu, UserController)

%h2= "Profile of #{h(user.name || user.email)}"

%form{:method => :POST, :action => R(UserController, :update)}
  %fieldset
    %legend Update Profile
    = user.form_field(:name)
    = user.form_field(:location)
    = user.form_field(:phone)
    = part :buttons, MainController, :value => 'Update profile'

%form{:method => :POST, :action => R(UserController, :update_password)}
  %fieldset
    %legend Change Password
    = user.form_field(:password, :password)
    = user.form_field(:password_confirmation, :password)
    = part :buttons, MainController, :value => 'Change Password'
