.section
  %h4= h(@company.name)
  %dl
    %dt Year Founded
    %dd= @company.founded
    %dt No. of Employees
    %dd= @company.employees
    %dt About Us
    %dd= @company.text
  %a{:href => @company.to_search}
    More Jobs from
    = h(@company.name)
