.section
  %h4= h(@company.name)
  %dl
    %dt Year Founded
    %dd= @company.founded
    %dt No. of Employees
    %dd= @company.employees
    %dt About Us
    %dd= @company.text
  = @company.href("More Jobs from #{@company.name}", :search)
