= part(:submenu, UserController)
%h2= "#{@jobs.count} Jobs from #{h @company.name}"

.job-manage
  - if @jobs.empty?
    You haven't posted any jobs yet.
    Get started by
    %a{:href => R(CompanyController, :edit)} updating your company information
    and then
    %a{:href => R(JobController, :post)} Post your first job.
  - @jobs.each do |job|
    .job
      = job.href(job.title, :read)
      @
      = @company.href(@company.name, :search)
      %dl
        %dt Salary:
        %dd= job.salary
        %dt Location:
        %dd= job.location
      %p= job.preview
      .edit
        = part :crud_menu, JobController, :job => job
