= JobGet::Users.render_partial(:submenu)
%h2= "#{@jobs.count} Jobs from #{h @company.name}"

.job-manage
  - if @jobs.empty?
    You haven't posted any jobs yet.
    Get started by
    = JobGet::Companies.a('updating your company information', :edit)
    and then
    = JobGet::Jobs.a('Post your first job.', :post)
  - @jobs.each do |job|
    .job
      = job.href(job.title, :read)
      @
      = @company.href(@company.name, :search)
      %dl
        %dt Salary:
        %dd= job.salary
        %dt Location:
        %dd= job.location
      %p= job.preview
      .edit
        = JobGet::Jobs.render_partial(:crud_menu, :job => job)
