- company = @job.company

.job_read
  - if company == user.company
    .submenu
      %a{:href => R(JobController, :manage)} Manage your Jobs
      = part :crud_menu, JobController, :job => @job
  .job
    %h2= @job.title
    - if company.show_logo
      %img.company{:src => company.logo.medium_url}

    %dl
      %dt Contract Type:
      %dd= @job.contract

      %dt Salary:
      %dd= @job.salary

      %dt Start Date:
      %dd= @job.starts_at

      %dt Location:
      %dd= @job.location

      = part :skills, JobController, :skills => @job.skill_list

    = Maruku.new(h @job.text).to_html

  .apply
    - if user.recruiter?
      Recruiters cannot apply for jobs
    - elsif user.applied_to?(@job)
      You already applied for this Job
    - elsif @job.open
      %a{:href => @job.to(:apply)} Apply for this Job
