- job = view.job

%h3
  View of
  %a{:href => job.to(:read)}= h job.title
  @
  %a{:href => job.company.to(:search)}= h job.company.name

%dl
  %dt Time:
  %dd= stat.created_at.utc
  %dt IP:
  %dd= stat.ip
  %dt Referrer:
  %dd
    %a{:href => stat.referrer}= stat.referrer
