- if user.recruiter?
  %h2 Applications received
  - if @applications.count == 0
    You haven't received any applications yet.
  - else
    %ul
    - @applications.each do |app|
      - user, resume, job, company = app.user, app.resume, app.job, app.company
      %li
        = user.href(user.public_name, :read)
        applied with
        = resume.href(resume.title, :read)
        for
        = job.href(job.title, :read)

- if user.applicant?
  %h2 Applications sent
  - if @applications.count == 0
    You haven't applied to any jobs yet.
  - else
    %ul
    - @applications.each do |app|
      - user, resume, job, company = app.user, app.resume, app.job, app.company
      %li
        On
        = app.created_at.utc
        You applied with
        = resume.href(resume.title, :read)
        for
        = job.href(job.title, :read)
