%h2 Applications

%h3 Received
%ul
  - if @got.empty?
    You haven't received any applications yet.
  - @got.each do |resume, job|
    %li
      = h resume.user.public_name
      applied with
      = resume.href(resume.title, :read)
      for
      = job.href(job.title, :read)
%h3 Sent
%ul
  - if @sent.empty?
    You haven't applied to any jobs yet.
  - @sent.each do |job, resume|
    %li
      You applied with
      = resume.href(resume.title, :read)
      for
      = job.href(job.title, :read)
