.search
  %h2= "#{@results.size} Results for '#{h(@q)}' from #{Job.available.count} Jobs"
  = @pager.navigation if @pager.needed?
  - @pager.each do |job|
    = part :job, MainController, :job => job
  = @pager.navigation if @pager.needed?
