.search
  - if @pager.empty?
    %h2= "No results for '#{h @q}' from #{Job.available.count} Jobs"
  - else
    %h2= "#{@results.size} Results for '#{h(@q)}' from #{Job.available.count} Jobs"
    = pager_navigation
    - @pager.each do |job|
      = part :job, MainController, :job => job
    = pager_navigation
