.job
  - company = @job.company
  %a{:href => @job.to_read}= h(@job.title)
  = "@"
  %a{:href => company.to_search}= company.name
  %dl
    %dt Salary:
    %dd= @job.salary
    %dt Location:
    %dd= @job.location
    = part :skills, JobController, :skills => @job.skill_list


  %p= @job.preview
