.job
  - company = @job.company
  = @job.href(@job.title, :read)
  @
  = company.href(company.name, :search)
  %dl
    %dt Salary:
    %dd= @job.salary
    %dt Location:
    %dd= h @job.location
    = JobGet::Jobs.render_partial(:skills, :skills => @job.skill_list)


  %p= @job.preview
