!!! XML
!!!
%html
  %head
    %title= conf.title
    %meta{'http-equiv' => 'Content-Script-Type', :content => 'text/javascript'}
    %meta{'http-equiv' => 'Content-Style-Type', :content => 'text/css'}
    %meta{'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8'}
    %meta{'http-equiv' => 'expires', :content => '0'}
    %meta{:name => 'description', :content => 'Job listing'}
    %meta{:name => 'generator', :content => "Ramaze #{Ramaze::VERSION}"}
    %meta{:name => 'keywords', :content => 'Job listing'}
    %meta{:name => 'author', :content => conf.title}
    %meta{:name => 'date', :content => Time.now.iso8601}
    = css('screen')
  %body
    .top
      .title
        %a{:href => '/'}
          %img{:src => '/logo.png', :alt => conf.title}
      .menu
        .auth
          - if logged_in?
            Logged in as
            = user.role.capitalize
            %a{:href => R(UserController, :read)}= user.public_name
            %a{:href => R(UserController, :logout)} Logout
          - else
            %a{:href => R(UserController, :join)} Join
            %a{:href => R(UserController, :login)} Login
        .nav
          %a{:href => R(JobController, :browse)} Browse jobs
          - if logged_in?
            %a{:href => R(UserController, :read)} Profile
            - if user.admin?
              .admin
                %span.section
                  %b Applicant
                  %a{:href => R(ResumeController)} Resumes
                  %a{:href => R(ApplicationController)} Applications
                %span.section
                  %b Recruiter
                  %a{:href => R(ApplicationController)} Applications
                  %a{:href => R(CompanyController, :edit)} Company
                  %a{:href => R(JobController, :manage)} Jobs
                %span.section
                  %b Admin
                  %a{:href => R(StatController)} Statistics
                  %a{:href => R(UserController, :list)} Users
            - elsif user.recruiter?
              %a{:href => R(ApplicationController)} Applications
              %a{:href => R(CompanyController, :edit)} Company
              %a{:href => R(JobController, :manage)} Jobs
            - elsif user.applicant?
              %a{:href => R(ResumeController)} Resumes
              %a{:href => R(ApplicationController)} Applications

    .middle
      .content
        = @content
      .sidebar
        = flashbox("<div class='section'><p class='flash-%key'>%value</p></div>")
        .section
          %form{:action => R(SearchController)}
            %fieldset
              %label{:for => :search}
                %h4 Search for a job
              %input{:type => :hidden, :name => :only, :value => request[:only] || :any}
              %input{:type => :text, :id => :search, :name => :q, :value => request[:q]}
        - if user.recruiter?
          .section
            %form{:action => R(SearchController, :resume)}
              %fieldset
                %label{:for => :search_resume}
                  %h4 Search for a Resume
                %input{:type => :text, :id => :search_resume, :name => :resume, :value => request[:resume]}
        = part(:sidebar)

    .bottom
      %a{:href => '/help'} Help
      %a{:href => '/contact'} Contact
      %a{:href => '/tos#privacy'} Privacy Policy
      %a{:href => '/tos'} Terms of Service
      %br/
      &copy; 2008 by manveru
