- unless logged_in?
  .section.login
    %h4 Login
    %form{:action => JobGet::Users.r(:login), :method => :POST}
      .pair
        %label{:for => :email} Email:
        %input{:type => :text, :name => :email, :id => :email}
      .clear
      .pair
        %label{:for => :password} Password:
        %input{:type => :password, :name => :password, :id => :password}

      .clear
      %input{:type => :submit, :value => 'Login', :class => :button}
      = JobGet::Users.a("Forgot password?", :forgot)

  .section
    %h4= "Join #{conf.title}"
    %a{:href => JobGet::Users.r(:join), :class => :button} Sign Up
- if user.recruiter? or not logged_in?
  .section
    %h4 Post Job
    %p
      = "Post a new Job on #{conf.title}."
      Targeted, results-based, risk-free hiring.
    %a{:href => JobGet::Jobs.r(:post), :class => :button} Post job
